@keyframes pulse {
    0% {
        transform: scale(1) rotateZ(0);
    }

    25% {
        transform: scale(1.1) rotateZ(10deg);
    }

    50% {
        transform: scale(1) rotateZ(0);
    }

    75% {
        transform: scale(1.1) rotateZ(-10deg);
    }

    100% {
        transform: scale(1) rotateZ(0);
    }
}

@keyframes flash {
    50% {
        opacity: 0;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url("assets/cristi_bg.jpeg");
    background-repeat: repeat;
    background-size: 400px 200px;
}

.navbar {
    width: 100%;
    height: 100px;

    position: relative;
    display: flex;
    align-items: center;

    background-color: aquamarine;
}

.hero-container {
    width: 100%;
    padding-top: 50px;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.hero-container h1 {
    font-size: 70px;
}

.hero-container h2 {
    font-size: 35px;
}

.main-container {
    width: 80%;
    flex: 1;

    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 30px;

    justify-items: center;
    align-content: center;
    margin: 25px 0;
}

.product-card {
    width: 250px;
    height: 400px;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: greenyellow;
}

.product-card img {
    width: 100%;
    height: 100%;

    transform: scale(1);
    transition: transform 0.3s ease;
}

.product-card img:hover {
    transform: scale(1.1);
}

.product-image-container {
    width: 100%;
    aspect-ratio: 1;

    position: relative;

    overflow: hidden;
}

.product-info-container {
    width: 100%;
    flex: 1;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-weight: bold;
}

.product-buttons-container {
    width: 100%;
    height: 50px;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.product-buttons-container button {
    height: 100%;
    width: 100px;

    border-radius: 25px;
}

.product-card-like-button {
    background: linear-gradient(to left, darkred, red);
}

.product-card-buy-button {
    background: linear-gradient(to left, darkgreen, greenyellow);
}

.footer {
    width: 100%;
    height: 50px;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    font-style: italic;
    background-color: greenyellow;

    user-select: none;
}

.product-card-title-text {
    color: black;
    font-size: 18px;
}

.product-card-price-text {
    color: green;
}

.important-text {
    color: red;
    font-weight: bold;
    animation: pulse 2s ease infinite;
}

.close-ad-button {
    position: absolute;
    width: 10px;
    aspect-ratio: 1;

    top: 0;
    right: 0;

    background-image: url("assets/close_button.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.flashing-lightning {
    position: absolute;
    width: 100px;
    aspect-ratio: 1;

    background-image: url("assets/lightning.jpg");
    background-size: cover;

    animation: flash 0.3s infinite;
}

@media only screen and (max-width: 600px) {
    .main-container {
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 600px) {
    .main-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 1200px) {
    .main-container {
        grid-template-columns: repeat(3, 1fr);
    }
}
